<div class = main_main_chat>
  <%# ヘッダー %>
  <div class = header_main_chat>
    <div class="left-header">
      <div class = content>タイトル</div>
    </div>
    <div class="right-header">
      <div class = end_btn>
        <a href="hoge">チャットを終了する</a>
      </div>
    </div>
  </div>

  <%# メッセージ %>
  <div class = messages_main_chat>
    <%= render partial: 'message', collection: @messages %>
  </div>

  <%# フォーム %>
  <%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
    <div class="form-input">
      <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
      </label>
    </div>
    <%= f.submit '送信', class: 'form-submit' %>
  <% end %>
</div>